{% extends 'shop/base.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="{{ product_object.image }}" width="400px" height="400px" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-warning display-3">
                {{ product_object.title}}
            </div>
            <div class="text-danger ">Prix: $ 
                {{ product_object.price }}
            </div>
            <div>
                {{ product_object.description}}
            </div>
            <a href="#"><button class="btn btn-success">Acheter</button></a>
        </div>
    </div>
{% endblock %}